/* ---------------------
fonts south park like
---------------------- */

@font-face {
    font-family: 'zed_saidregular';
    src: url('fonts/zed_said/zed_said-webfont.woff2') format('woff2'),
         url('fonts/zed_said/zed_said-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'cibolaregular';
    src: url('fonts/south-park/cibola-webfont.woff2') format('woff2'),
         url('fonts/south-park/cibola-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
        
    body {
      height: 100vh;
      background-image: url(images/bg.jpg);
      background-size: cover;
      background-position: bottom left;
      display: flex;
      overflow: hidden;
    }
    
    #memory-game {
      width: 70%;
      height: 620px;  
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      perspective: 1000px;
      justify-content: center;
    }
  
    #memory-game img {
      width: calc(16% - 10px);
      height: calc(30.33% - 10px);
      margin: 5px;
      position: relative;
      transform: scale(1);
      transform-style: preserve-3d;
      transition: transform .5s;
      box-shadow: 1px 1px 3px rgb(0, 0, 0);
      border-radius: 5px;
      padding: 5px;
      background-color: rgb(8, 6, 45);
    }
    
    #memory-game img:active, #memory-game img:hover {
      transform: scale(1.04);
      transition: transform .0.5s;
      box-shadow: 3px 3px 5px rgb(0, 0, 0);
    }
    
    .flip {
      transform: rotateY(180deg);
    }
    
    .front-face,
    .back-face {
      width: 100%;
      height: 100%;
      padding: 5px;
      position: absolute;
      border-radius: 5px;
      background: rgb(0, 30, 53);
      backface-visibility: hidden;
    }
    
    .front-face {
      transform: rotateY(180deg);
    }
  
  
  
  
  
    /* ----- button ----- */
  
    #game_state{
      height: 100%;
      background-color: rgb(170, 170, 170, 0.6);
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    }
  
    .play, .reset{
      text-align: center;
      background-color: rgb(107, 71, 5);
      border-radius: 5px;
      box-shadow: 2px 2px 2px rgba(0,0,0,.3);
      margin: 0 15px;
    }
  
    .play_button, .reset_button{
      padding: 10px 20px;
      color: black;
      display: block;
      text-decoration: none;
      font-family: 'cibolaregular';
    }
  
    .play_button:active, .reset_button:active {
      transform: scale(0.97);
      transition: transform .0.5s;
      box-shadow: 0;
    }




  /*-- Modal --*/

  ​
    #home{
      background-image: url(images/bg_home.jpg);
      background-size: cover;
      background-position: bottom left;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-animation: top-bottom 3s ease; /* Safari 4+ */
      -moz-animation:    top-bottom 3s ease; /* Fx 5+ */
      -o-animation:      top-bottom 3s ease; /* Opera 12+ */
      animation:         top-bottom 3s ease; /* IE 10+, Fx 29+ */
    }
  ​
    @-webkit-keyframes top-bottom {
      0%   { opacity: 1; }
      50%   { opacity: 1; }
      100% { opacity: 0; }
    }
    @-moz-keyframes top-bottom {
      0%   { opacity: 1; }
      50%   { opacity: 1; }
      100% { opacity: 0; }
    }
    @-o-keyframes top-bottom {
      0%   { opacity: 1; }
      50%   { opacity: 1; }
      100% { opacity: 0; }
    }
    @keyframes top-bottom {
      0%   { opacity: 1; }
      50%   { opacity: 1; }
      100% { opacity: 0; }
    }
  ​
    #option-div{
      width: 500px;
      margin: -50vh auto 0;
      text-align: center;
      background-color: #6d5749;
      padding: 30px;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.9);
      position: absolute;
      -webkit-animation: pop-choices 4s ease; /* Safari 4+ */
      -moz-animation:    pop-choices 4s ease; /* Fx 5+ */
      -o-animation:      pop-choices 4s ease; /* Opera 12+ */
      animation:         pop-choices 4s ease; /* IE 10+, Fx 29+ */
    }
  ​
    @-webkit-keyframes pop-choices {
      0%   { margin: 0 auto 0; }
      75%   { margin: 0 auto 0; }
      85% { margin: -55vh auto 0; }
      90% { margin: -50vh auto 0; }
      95% { margin: -55vh auto 0; }
      100% { margin: -50vh auto 0; }
    }
    @-moz-keyframes pop-choices {
      0%   { margin: 0 auto 0; }
      75%   { margin: 0 auto 0; }
      85% { margin: -55vh auto 0; }
      90% { margin: -50vh auto 0; }
      95% { margin: -55vh auto 0; }
      100% { margin: -50vh auto 0; }
    }
    @-o-keyframes pop-choices {
      0%   { margin: 0 auto 0; }
      75%   { margin: 0 auto 0; }
      85% { margin: -55vh auto 0; }
      90% { margin: -50vh auto 0; }
      95% { margin: -55vh auto 0; }
      100% { margin: -50vh auto 0; }
    }
    @keyframes pop-choices {
      0%   { margin: 0 auto 0; }
      75%   { margin: 0 auto 0; }
      85% { margin: -55vh auto 0; }
      90% { margin: -50vh auto 0; }
      95% { margin: -55vh auto 0; }
      100% { margin: -50vh auto 0; }
    }
  ​
    h1{
      font-family: 'cibolaregular';
      font-size: 48px;
      margin-top: -5px;
      text-transform: uppercase;
    }
  ​
    h2, h3{
      font-family: 'zed_saidregular';
    }
  ​
    h2{
      font-size: 34px;
    }
  ​
    h3{
      font-size: 28.2px;
      margin-top: -2px;
    }
  ​
    #choices{
      margin-top: 60px;
      display: flex;
      justify-content: space-around;
      align-content: space-around;
      position: relative;
    }
  ​
    #choices .button-player{
      position: relative;
    }
  ​
    #choices .button-player a{
      font-family: 'zed_saidregular';
      text-decoration: none;
      color: white;
      background-color: gray;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.9);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      z-index: 2;
    }
  ​
    #choices .button-player a:hover{
      box-shadow: 2px 2px 2px rgba(0,0,0,0);
      background-color: maroon;
    }
  ​
    #choices img{
      margin-top: 20px;
    }
  ​
    #choices .avatar-1, #choices .avatar-2, #choices .avatar-3{
      position: absolute;
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      z-index: 1;
    }
  ​
    #choices .avatar-1{
      top: -78px;
      left: 27px;
    }
  ​
    #choices .avatar-2{
      top: -78px;
      left: 3px;
    }
  ​
    #choices .avatar-3{
      top: -74px;
      left: 57px;
    }
  ​
    #choices .btn1:hover .avatar-1, #choices .btn2:hover .avatar-2, #choices .btn2:hover .avatar-3{
      opacity: 1;
    }
  ​
    #game_state{
      height: 100%;
      background-color: gray;
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  ​
    .play, .reset{
      text-align: center;
      background-color: #060AB2;
      border-radius: 5px;
      box-shadow: 2px 2px 2px rgba(0,0,0,.3);
      margin: 0 15px;
    }
  ​
    .play_button, .reset_button{
      padding: 10px 30px;
      color: white;
      display: block;
      text-decoration: none;
    }
  ​
    .play_button:active, .reset_button:active {
      transform: scale(0.97);
      transition: transform .0.5s;
      box-shadow: 0;
    }



    /* modal  */


    #modal1{

        width: 500px;
        margin: -50vh auto 0;
        text-align: center;
        background-color: #6d5749;
        padding: 30px;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.9);
        position: absolute;
        -webkit-animation: pop-choices 4s ease; /* Safari 4+ */
        -moz-animation:    pop-choices 4s ease; /* Fx 5+ */
        -o-animation:      pop-choices 4s ease; /* Opera 12+ */
        animation:         pop-choices 4s ease; /* IE 10+, Fx 29+ */
    }

    /* avatar Styles  */
    
    #kennyfront{
      
      height: 150px;
      width: 200px;
      margin-bottom: 20px;
      display:block;
      
    }
    #kennyback{
  
      height: 150px;
      width: 200px;
      margin-bottom: 20px;
      display:none;
      
    }

    #cartmanfront{
      
      height: 150px;
      width: 160px;
      margin-bottom: 20px;
      display:block;
      
    }
    #cartmanback{
  
      height: 150px;
      width: 160px;
      margin-bottom: 20px;
      display:none;
      
    }

    .kennyNameClass, .cartmanNameClass {
      font-size: 3em;
      font-family: 'cibolaregular';
      src: url('fonts/south-park/cibola-webfont.woff2') format('woff2'),
           url('fonts/south-park/cibola-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      color: black;
    }

    .scoreBar{
      text-align: center;
      background-color:rgb(107, 71, 5);
      border-radius: 5px;
      box-shadow: 2px 2px 2px rgba(0,0,0,.3);
      padding: 30px 50px;
      color: black;
      display: block;
      text-decoration: none;
      font-family: 'cibolaregular';
      font-size: 2em;
      margin-bottom: 20px;
    }

    .changeKennyNameClass{
      font-size: 3em;
      font-family: 'cibolaregular';
      src: url('fonts/south-park/cibola-webfont.woff2') format('woff2'),
           url('fonts/south-park/cibola-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      color:#194B13;
      

    }
    .changeCartmanNameClass{
      font-size: 3em;
      font-family: 'cibolaregular';
      src: url('fonts/south-park/cibola-webfont.woff2') format('woff2'),
           url('fonts/south-park/cibola-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      color:maroon;

    }
      #modal1 {
      width: 500px;
      left: calc(50% - 125px);
      text-align: center;
      background-image: url('images/sign.jpg');
      background-color: #6d5749;
      border: solid;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.9);
      position: absolute;
    }

    #modal2{
      width: 500px;
      left: calc(50% - 125px);
      text-align: center;
      background-image: url('images/sign.jpg');
      background-color: #6d5749;
      border: solid;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.9);
      position: absolute;
    }

    @-webkit-keyframes pop-win {
      0%   { bottom: -50vh; }
      50%   { bottom: -50vh; }
      70% { bottom: 40vh; }
      80% { bottom: 35vh; }
      90% { bottom: 40vh; }
      100% { bottom: 35vh; }
    }
    @-moz-keyframes pop-win {
      0%   { bottom: -50vh; }
      50%   { bottom: -50vh; }
      70% { bottom: 40vh; }
      80% { bottom: 35vh; }
      90% { bottom: 40vh; }
      100% { bottom: 35vh; }
    }
    @-o-keyframes pop-win {
      0%   { bottom: -50vh; }
      50%   { bottom: -50vh; }
      70% { bottom: 40vh; }
      80% { bottom: 35vh; }
      90% { bottom: 40vh; }
      100% { bottom: 35vh; }
    }
    @keyframes pop-win {
      0%   { bottom: -50vh; }
      50%   { bottom: -50vh; }
      70% { bottom: 40vh; }
      80% { bottom: 35vh; }
      90% { bottom: 40vh; }
      100% { bottom: 35vh; }
    }

    #kennywin {
      width: 30%;
      float: left;
    }

    .modal-content p{
      margin-bottom: 20px;
      margin-top: 10px;
      font-family: 'zed_saidregular'
    }

    .modal-content h2{
      font-family: 'cibolaregular'

    }

    .close a {
      text-align: center;
      background-color: rgb(112, 72, 18);
      border-radius: 5px;
      box-shadow: 2px 2px 2px rgba(0,0,0,.3);
      margin: 0 15px;
      padding: 10px 20px;
      margin-top: 20px;
      font-family: 'cibolaregular';
      text-decoration: none;

    }
    .close h2 {
      font-family: 'cibolaregular'
    }

    .close a:visited {
      color: inherit;
      
    }


    .modal-content {
      padding: 10px 30px;
      color: rgb(0, 0, 0);
      display: block;
      text-decoration: none;

    }

    #cartmanwin {
      width: 30%;
      float: left;
    }

    


