* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: bottom left;
  }
  
  #memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }

  #memory-game img {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    background-color: white;
  }
  
  #memory-game img:active, #memory-game img:hover {
    transform: scale(1.03);
    transition: transform .0.5s;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
  }
  
  .flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }





  /* ----- button ----- */

  #game_state{
    height: 100%;
    background-color: gray;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .play, .reset{
    text-align: center;
    background-color: #060AB2;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    margin: 0 15px;
  }

  .play_button, .reset_button{
    padding: 10px 30px;
    color: white;
    display: block;
    text-decoration: none;
  }

  .play_button:active, .reset_button:active {
    transform: scale(0.97);
    transition: transform .0.5s;
    box-shadow: 0;
  }




