/* ---------------------
fonts south park like
---------------------- */

@font-face {
  font-family: 'zed_saidregular';
  src: url('fonts/zed_said/zed_said-webfont.woff2') format('woff2'),
       url('fonts/zed_said/zed_said-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cibolaregular';
  src: url('fonts/south-park/cibola-webfont.woff2') format('woff2'),
       url('fonts/south-park/cibola-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: bottom left;
  }
  
  #memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }

  #memory-game img {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    background-color: white;
  }
  
  #memory-game img:active, #memory-game img:hover {
    transform: scale(1.03);
    transition: transform .0.5s;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
  }
  
  .flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    background: rgb(0, 30, 53);
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }





  /* ----- button ----- */

  #game_state{
    height: 100%;
    background-color: rgb(170, 170, 170, 0.6);
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
  }

  .play, .reset{
    text-align: center;
    background-color: rgb(107, 71, 5);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    margin: 0 15px;
  }

  .play_button, .reset_button{
    padding: 10px 20px;
    color: black;
    display: block;
    text-decoration: none;
    font-family: 'cibolaregular';
  }

  .play_button:active, .reset_button:active {
    transform: scale(0.97);
    transition: transform .0.5s;
    box-shadow: 0;
  }


  /* ----- avatar styles ----- */

  #cartmanfront{
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    display:block;
  }
  #cartmanback{
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    display:none;
  }

  #kennyfront{
    height: 140px;
    width: 170px;
    margin-bottom: 20px;
    display:block;
  }
  #kennyback{
    height: 140px;
    width: 170px;
    margin-bottom: 20px;
    display:none;
  }

  
